<h3>Users</h3>
<br>
<p>De applicatie bevat de volgende users</p>
<br>
<button type="button" class="btn btn-success" routerLink="add"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }">Voeg toe</button>
<div *ngFor="let user of users">
    <table class="table table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="row" style="width: 16.66%">Naam</th>
                <th scope="row" style="width: 16.66%">Email</th>
                <th scope="row" style="width: 16.66%">Id</th>
            </tr>
            <tr>
                <td>
                    <nav>
                        <a routerLink="detail/{{user?.id}}"><strong>{{
                                user?.name }}</strong></a>
                    </nav>
                </td>
                <td>
                    <strong>{{ user?.email }}</strong>
                </td>
                <td>
                    <strong>{{ user?.id }}</strong>
                </td>
            </tr>

        </thead>
    </table>
</div>