<div>
    <form [formGroup]="userform" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input id="name" type="text" class="form-control" name="Name"
                placeholder="name"
                formControlName="name" required>
            <br/>
                <input id="email" type="text" class="form-control"
                    name="Email"
                    placeholder="Email"
                    formControlName="email">
                <br/>
                    <input id="password" [type]="true ? 'password' : 'text'"
                        class="form-control"
                        name="Password"
                        placeholder="Password"
                        formControlName="password">
                    <br/>
                        <input id="birthday" type="date" class="form-control"
                            name="BirthDay"
                            placeholder="BirthDay"
                            formControlName="birthday">
                        <br/>
                        </div>
                        <!-- <input type="submit" class="forsubmit" value="Add"> -->
                        <button type="submit" value="add" class="forsubmit">Maak
                            aan</button>
                    </form>

                </div>