<div class="row">
    <div class="col sm">
        <h1>Albums</h1>
    </div>
    <div class="col sm">
        <a *ngIf="loggedInUser$ | async as user" routerLink="add" class="btn
            btn-success btn-lg">Voeg toe</a>
    </div>

</div>

<div class="row"><div class="card-deck">
        <div *ngFor="let album of albums">

            <div class="card" style="width: 18rem;">
                <img src={{album?.coverImg}} class="card-img-top" alt="Card
                    image
                    cap">
                <div class="card-body">
                    <h5 class="card-title">{{album.name}}</h5>
                    <p class="card-text">{{album.description}}</p>
                    <p class="card-text">Genre:{{album.genre}}</p>
                    <a routerLink="detail/{{album?._id}}" class="btn
                        btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
