<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-10">
        <h1 id="aboutTitle">Over deze applicatie</h1>
        <p>
            Deze applicatie is gemaakt in het kader van het vak 'Clientside web
            frameworks' van Avans Hogeschool
            Breda. Github: <a
                href="https://github.com/TimdeLaater/MusicReviews/tree/main/apps/music-reviews">https://github.com/TimdeLaater/MusicReviews/tree/main/apps/music-reviews</a>
        </p>
        <h3>Naam van jouw project</h3>
        <p>
            Mijn applicatie gaat als volgt werken: Een user kan een account
            aanmaken en hier zijn/haar favorite albums opzoeken. Ook kunnen ze
            hun favorite artiesten opzoeken en de albums reviewen.
        </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card">
            <div class="d-flex justify-content-center align-items-center">
                <img
                    src="assets/images/person.png"
                    class="card-img-top rounded-circle border profile-pic"
                    alt="..."
                    />
            </div>
            <div class="card-body">
                <h5 class="card-title">Tim de Laater</h5>
                <p class="card-text">Studentnummer: 2171083</p>
            </div>
        </div>
    </div>
</div>

<h3>Entiteiten</h3>
<p>
    De 3 entiteiten van mijn project zijn:
    -Artist,
    -Album,
    -Review.
</p>
<div class="row">
    <img src="assets\img\ErdLpReview.jpeg"
        alt="..." />
</div>
