<div class="row">
    <div style="float: left; margin-right: 30px;">
        <h1>Naam: {{user?.name}}</h1>
        <br>
        <h1>Email: {{user?.email}}</h1>
        <br>
        <h1>Birthday: {{user?.birthday}}</h1>
        <br>
        <h1>Id: {{user?.id}}</h1>
    </div>
    <div style="float: right;">
        <button class="btn btn-danger" type="submit" (click)="delete()">Delete</button>
        <br>
        <br>
        <button class="btn btn-warning" routerLink="edit">Edit</button>
    </div>
</div>