<div class="row">
    <div class="col sm">
        <h1>Artist</h1>
    </div>
    <div class="col sm">
        <a *ngIf="loggedInUser$ | async as user" routerLink="add" class="btn
            btn-success btn-lg">Voeg toe</a>
    </div>

</div>

<div class="row"><div class="card-group">
        <div *ngFor="let artist of artists">

            <div class="card text-white bg-dark" style="width: 18rem;">
                <img src={{artist.coverImg}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{artist.name}}</h5>
                    <p class="card-text">{{artist.description}}</p>
                    <p class="card-text">Genre:{{artist.genre}}</p>
                    <a routerLink="detail/{{artist?._id}}" class="btn
                        btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
