<div class="Artist-detail">
    <div class="row">
        <div class="col-sm">
            <img src={{artist.coverImg}} class="card-img-top" alt="...">
            <a routerLink="../.." class="btn
                btn-dark">Terug</a>
            <a *ngIf="authService.userMayEdit(artist.userId) | async"
                routerLink="edit" class="btn
                btn-warning">Pas aan</a>
            <button *ngIf="authService.userMayEdit(artist.userId) | async"
                class="btn
                btn-danger"
                (click)="delete()">Delete</button>
        </div>
        <div class="col-sm">
            <h1>{{artist.name}}</h1>
            <p class="card-text">{{artist.description}}</p>
            <p class="card-text"><strong>Genre: </strong>{{artist.genre}}</p>
            <p class="card-text"><strong>Vanaf/Geboren op: </strong>
                {{artist.birthday}}</p>
            <br>
            <br>
            <p class="card-text"><strong>gemaakt door: </strong>
                {{owner.name}}</p>
        </div>
        <strong></strong>

    </div>
</div>
